<!DOCTYPE html>
{%load blog_tags%}
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{%block title_block%}{%endblock%}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/home.css"%}">
  </head>
  <body>
    <div class="content">
        {%block content%}{%endblock%}
    </div>
    <div class="sidebar">
        {%block sidebar%}{%endblock%}
        <h2>Prem' Blog</h2>
        <p>Here you can take the list of items in the application</p>
        <p>The total number of posts till today : {%total_posts%}</p>
        <h3>latest posts are:</h3>{%show_latest_posts%}
        <h3>Most Commented Posts are:</h3>{%get_most_commented_posts as most_commented_posts%}
        <ul>
          {%for post in most_commented_posts%}
          <li><a href="{{post.get_absolute_url }}">{{post.title}}</a></li>
          {%endfor%}
        </ul>
    </div>
  </body>
</html>
